{% extends 'bab/layout.html.twig' %}
{% block title %}BAB Warenkorb{% endblock %}
{% block page_contents %}
<style>

    #add_item, #del_item   {
    border: none;
    padding: 10px 13px;
    font-size: 10px;
    }
    #f_del_all {
        font-size: 18px;
    }
    #del_all
    {
        border: none;
        padding: 7px 10px;
        font-size: 10px;
    }

</style>

    {% if products|length > 0 %}
        <table class="table">
            <thead>
            <tr>

                <th scope="col" style="width: 16.66%"></th>
                <th scope="col" style="width: 25%">Produkt</th>
                <th scope="col" style="width: 17%">Preis</th>
                <th scope="col">Anzahl</th>

            </tr>
            </thead>
        </table>
        {% for i in 0..products|length-1 %}
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-1">
                    <img src="/images/{{ products[i].picture }}" class="card-img-top" height="100">
                </div>
                <div class="col-2">
                    <h5 class="card-title">{{ products[i].name}}</h5>
                </div>
                <div class="col-2">
                    <p class="card-text">{{ products[i].price}} €</p>
                </div>
                <div class="col-2">

                    <a >{{ amounts[i]}} &nbsp</a>
                    <a href="/add/{{ products[i].id }}" class="btn btn-success" id="add_item" ><i class="fa fa-plus"></i></a>
                    <a href="/delete/{{ products[i].id }}" class="btn btn-danger" id="del_item"><i class="fa fa-minus"></i></a>
                </div>
                <div class="col-1">
                    <a href="/delete-all/{{ products[i].id }}" class="btn btn-danger" id="del_all" ><i id="f_del_all" class="fa fa-trash"></i></a>
                </div>

            </div>
        {% endfor %}
    {% endif %}
    {% if products|length == 0 %}
    <div class="row">
    <div class="col-5">
    </div>
    <div class="col-2">
        <p> Es sind keine Produkte im Warenkorb</p>
    </div>
    </div>
    {% endif %}
    <br>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-5">
            <a href="/bab" class="btn btn-warning">Zurück zum Shop</a>
        </div>

        {% if products|length > 0 %}

        <div class="col-2">
            <h6>Einkaufswert: {{ price }}€</h6>
        </div>
        <div class="col-1">
            <a href="/kasse" class="btn btn-success">Zur Kasse</a>
        </div>
        {% endif %}
    </div>


{% endblock %}