{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="container text-center" style="max-width: 300px">
        <br>
        <h1 class="h3 mb-3 font-weight-normal">Registrierung</h1>
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Benutzername'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Passwort'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Zustimmung zu den Nutzungsbedingungen'
        }) }}
        <button class="btn btn-primary btn-block"
                type="submit">Registrieren</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
